<!doctype html>
<html lang="en">
    <head>
        <title>Codo</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/views/style/index.css">


    </head>
    <body>
        <section id="cover">
            <div id="cover-caption">
                <div class="container">
                    <div class="col-sm-10 offset-sm-1">
                        <h1 class="display-2">Welcome to Codo!</h1>
                        <p class="lead"><code>&lt;Trouble&gt;</code> with team project? Codo can <code>&lt;help&gt;</code> you out!</p>
                    </div>
                    <div class="col-sm-10 offset-sm-1">
                        <!-- Button trigger login -->
                        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#user-login-modal">
                            Login
                        </button>
                        <!-- Button trigger login -->
                        <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#user-registration-modal">
                            Register
                        </button>
                    </div>
                </div>
            </div>
        </section>


        <!-- Login Modal -->
        <div class="modal fade black-text" id="user-login-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <form id="user-login-form">
                            <div class="form-group">
                                <input id="login-input-user-name" type="text" name="login-input-id" class="form-control" placeholder="Enter Your ID">
                            </div>
                            <div class="form-group">
                                <input id="login-input-password" type="password" name="login-input-password" class="form-control" placeholder="Password">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Register Modal -->
        <div class="modal fade black-text" id="user-registration-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <form id="user-registration-form">
                            <div class="form-group">
                                <input id="registration-input-id" type="text" name="registration-input-id" class="form-control" placeholder="Enter Your ID">
                                <div id="registration-warning" class="invalid-feedback">
                                    Warning Info
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" name="registration-input-real-name" class="form-control" placeholder="Enter Your Real Name">
                                <div id="registration-warning" class="invalid-feedback">
                                    Warning Info
                                </div>
                            </div>
                            <div class="form-group">
                                <input id="registration-input-passwd1" type="password" name="registration-input-passwd1" class="form-control" placeholder="Input Your Password">
                            </div>
                            <div class="form-group">
                                <input  id="registration-input-passwd2" type="password" name="registration-input-passwd2" class="form-control" placeholder="Input Your Password Again">
                                <div class="invalid-feedback">
                                    Password doesn't match!
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-success">Register</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        <!-- JavaScript -->
        <script src="/controllers/controller.js"></script>
        <script src="/controllers/notify.js"></script>
    </body>
</html>

