<!-- a todo list -->
<li id="{{todo_id}}" class="list-group-item list-group-item-primary d-flex flex-row justify-content-between align-items-center">
    <p class="w-50" style="text-align:left;">{{todo}}</p>
    <span class="badge badge-primary">{{real_name}}</span>
    <span class="badge badge-secondary">{{create_time}}</span>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-danger btn-sm" onclick="eventHandler(event)">DELETE <i class="fa fa-trash" aria-hidden="true"></i></button>
        <button type="button" class="btn btn-dark btn-sm" onclick="eventHandler(event)">PICK <i class="fa fa-paper-plane" aria-hidden="true"></i></button>
    </div>
</li>

<!-- a ongoing list -->
<li id="{{todo_id}}" class="list-group-item list-group-item-primary d-flex flex-row justify-content-between align-items-center">
    <p class="w-50" style="text-align:left;">{{todo}}</p>
    <span class="badge badge-primary">{{real_name}}</span>
    <span class="badge badge-secondary">{{create_time}}</span>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-success btn-sm" onclick="eventHandler(event)">Done<i class="fa fa-check" aria-hidden="true"></i></button>
    </div>
</li>

<!-- a done list -->
<li id="{{todo_id}}" class="list-group-item list-group-item-primary d-flex flex-row justify-content-between align-items-center">
    <p class="w-50" style="text-align:left;">{{todo}}</p>
    <span class="badge badge-primary">{{real_name}}</span>
    <span class="badge badge-secondary">{{create_time}}</span>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-danger btn-sm">Thank you<i class="fa fa-heart" aria-hidden="true"></i></button>
    </div>
</li>

<!-- a room -->
<a class="list-group-item list-group-item-action d-flex flex-row justify-content-between align-items-center active text-light">{{rom_name}}<span class="badge badge-warning badge-pill text-dark">ID:{{room_id}}</span></a>

如果有form提交，就做页面渲染。如果没有form提交，不做页面渲染，只进行jquery的动画操作，比如删除，pick，done之类的。
